h1{font-family: Alef;}

#logo
{
    position: absolute;
    padding:20px;
}

#haut_de_page
{
background-color:rgb(0, 251, 117);
text-align: center;
}

#logoJudr
{
    position: absolute;
}

#bas_de_page
{
   
    background-color: rgb(0, 251, 117);
    text-align: center;
}