h1{font-family: Alef;}

#logo
{
position: absolute;
padding:20px;
}

#haut_de_page
{
background-color:rgb(0, 251, 117);
text-align: center;
}

#logoJudr
{
position: absolute;
}

#bas_de_page
{
   
    background-color: rgb(0, 251, 117);
    text-align: center;
}

#entete{
    text-align: center;
    font-family: Alef;
    background-color: rgb(200, 225, 200);
    border: 1px solid black;
    border-style: dotted;
    border-radius: 20px;
}

#corp{
    text-align: center;
    font-family: Alef;
    background-color: rgb(200, 225, 200);
    border: 1px solid black;
    border-style: dotted;
    border-radius: 20px;
}

/*CSS bandeau raccourci*/

#FigureRaccourci{
    position: sticky;
    top:5px;
    margin: 0;            
}
#ZoneRaccourci{
    border: 0px rgb(145, 255, 0);
    border-style:double;
    min-width: 5cm;
    display:inline-table;
    padding: 0;
}
#CorpDePage{
    justify-content: center;
}