body{background-color: palegreen;}

#TitreSection{
    text-align: center;
    font-family: Alef;
    background-color: rgb(42, 87, 42);
    color: white;
    border: 1px solid black;
    border-style: dotted;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#CorpSection{
    text-align: center;
    font-family: Alef;
    background-color: rgb(200, 225, 200);
    border: 1px solid black;
    border-style: dotted;
    border-radius: 20px;
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#CDPCentre{
    margin-left: 10px;
    margin-right: 10px;
    width: 60%;
}

#BoutonEdition{
    text-align: center;
    font-family: Alef;
    background-color: rgb(200, 225, 200);
    border: 1px solid black;
    border-style: dotted;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

table{
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

textarea{
    resize: vertical;
    width: 75%;
    overflow: hidden;
    height: auto;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 250px;

}

td{
    width: 1000px;
}

.bouton{
    width: 50%;
    text-align: center;
}

.NbEnchantillons{
    width: 10%;
}

#test567{
    background-color: aqua;
}
