body{background-color: palegreen;}

#en_tete{
    text-align: center;
    font-family: Alef;
    background-color: rgb(200, 225, 200);
    border: 1px solid black;
    border-style: dotted;
    border-radius: 20px;
    margin-left: 220px;
    margin-right: 220px;
}

#menu{
    text-align: center;
    font-family: Alef;
    background-color: rgb(200, 225, 200);
    border: 1px solid black;
    border-style: dotted;
    border-radius: 20px;
    margin-top : 0%;  
    margin-bottom: 2%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#Cpt-rendu
{
    text-align: center;
    font-family: Alef;
    background-color: rgb(42, 87, 42);
    border-style: dotted;
    border-radius: 20px;
    border-width: 1px;
    margin-top: 1%;
    margin-bottom: 0%;
    color:white;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#Consulter{
    color:white;
    text-align: center;
    font-family: Alef;
    background-color: rgb(42, 87, 42);
    border: 1px solid black;
    border-style: dotted;
    border-radius: 20px;
    margin-top:2%;
    margin-bottom:0%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
}

#Menu2
{
    text-align: center;
    font-family: Alef;
    background-color: rgb(200, 225, 200);
    border: 1px solid black;
    border-style: dotted;
    border-radius: 20px;
    margin-top:0%;
    margin-bottom:2%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    
}

#pied_de_page
{
    text-align: center;
    font-family: Alef;
    background-color: rgb(200, 225, 200);
    border: 1px solid black;
    border-style: dotted;
    border-radius: 20px;
    margin-left: 220px;
    margin-right: 220px;
}

#mot_de_passe
{
    text-align: center;
    font-family: Alef;
    background-color: rgb(200, 225, 200);
    border: 1px  solid black;
    border-style: dotted;
    border-radius:20px;
    margin-top:20px;
    margin-bottom:20px;
    margin-left: 220px;
    margin-right: 220px;
}

#logo
{
    width: 40%;
    display:inline-flex;
    max-width:100%;
    max-height: 300%; 
}   

#haut_de_page
{
    margin-top:auto;
    padding-top: 5%;
    padding-bottom:5%;
    
    
}

#inscription
{
    text-align: center;
    font-family: Alef;
    background-color: rgb(200, 225, 200);
    border: 1px  solid black;
    border-style: dotted;
    border-radius:20px;
    margin-left: 220px;
    margin-right: 220px;
}

#test
{
    text-align: center;
    font-family: Alef;
    background-color: rgb(200, 225, 200);
    border: 1px solid black;
    border-style: dotted; 
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 250px;
    margin-right: 220px;
}
#medicament_corps
{
    text-align: center;
    font-family: Alef;
    background-color: rgb(200,225,200);
    border: 1px solid black; 
    border-style: dotted;
    border-radius: 20px;
    margin-left:250px; 
    margin-right:220px;
    margin-bottom: 20px;
}

#question
{
    text-align: center;
    font-family: Alef;
    background-color: rgb(200, 225, 200);
    border-style: dotted;
    border-width: 1px;
    margin-top:20px;
    margin-bottom: 20px;
}

#titre
{
    text-align: center;
    font-family: Alef;
    background-color: rgb(200, 225, 200);
    border-style: dotted;
    border-width: 1px;
    border-radius: 20px;
    margin-top:0%;
    margin-bottom:2%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#PraticienBis
{
    text-align: center;
    color:white;
    font-family: Alef;
    background-color: rgb(42, 87, 42);
    border-style: dotted;
    border-radius: 20px;
    border-width: 1px;
    margin-top: 2%;
    margin-bottom: 0%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#Praticien
{
    text-align: center;
    font-family: Alef;
    background-color: rgb(200, 225, 200);
    border-style: dotted;
    border-radius: 20px;
    border-width: 1px;
    margin-top: 0%;
    margin-bottom: 1%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#PraticienTitre
{
    text-align: center;
    font-family: Alef;
    background-color: rgb(42, 87, 42);
    border-style: dotted;
    border-radius: 20px;
    border-width: 1px;
    margin-top: 1%;
    margin-bottom: 0%;
    color:white;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

@font-face {
    font-family: "Zelda";
    src: url(../font/Zelda.otf);
}
@font-face {
    font-family: GLPI;
    src: url(../font/PHARMACY.ttf);
}